<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no;">
</head>
<body>
    <div class='header'>
        <img class='bg' src="images/bj.png" alt="">
        <div class="today-weather">
            <div class="weather-part">
                <h1>重庆天气&nbsp;</h1><b>|</b>
            </div>
            <div class="update-weather">
                5分钟前更新
            </div>
            <p class='now-weather'></p>
            <div class='img-now'><i class='iconfont'>&#xe755;</i></div>
            <div class="temperature">
                <span class='temperature_l'>27</span>
                <div class='temperature_r'>
                    <p class='weather-change'></p>
                    <span>西北风 2级 湿度0%</span>
                </div>
            </div>
            <div class="dating">
                08月27日 星期日 农历七月初六
            </div>
            <div class="wholeDay-forcast">
                24小时天气  
            </div>      
        </div>
    </div>
    <div class='content'>
        <ul class='date'>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class='weather-img'>
            <li><i class="iconfont">&#xe61a;</i></li>
            <li><i class="iconfont">&#xe62d;</i></li>
            <li><i class="iconfont">&#xe610;</i></li>
            <li><i class="iconfont">&#xe630;</i></li>
            <li><i class="iconfont">&#xe641;</i></li>
            <li><i class="iconfont">&#xe642;</i></li>
        </ul>
        <ul class="weather-now">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <ul class='temp-data'> 
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
        </ul>
        <canvas class='canvas'></canvas>   
        <ul class='wind'>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
<script src='/dist/bundle.js'></script> 
</html>
