<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!-- 移动端适配  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" /></head>
<body>
    <div class='header'>
        <!-- 背景图像 -->
        <img class='background' src="images/bj.png" alt="">
        <div class="today-weather">
            <!-- 温度的地区 -->
            <div class="weather-part">
                <h1>重庆天气&nbsp;</h1><b>|</b>
            </div>
            <div class="update-weather">
                5分钟前更新
            </div>
            <p class='now-weather'></p>
            <!-- 天气云等图片 -->
            <div class='img-now'><i class='iconfont'>&#xe755;</i></div>
            <!-- 现在的温度模块 -->
            <div class="temperature">
                <span class='temperature_l'>27°</span>
                <div class='temperature_r'>
                    <p class='weather-change'></p>
                    <span>西北风 2级 湿度0%</span>
                </div>
            </div>
            <!-- 今天的日期    -->
            <div class="dating">
                
            </div>
            <div class="twenty-four-forcast">
                24小时天气
            </div>      
        </div>
    </div>
    <div class='content'>
        <!-- 日期的接口 待渲染-->
        <ul class='week-day'>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <!-- iconfont图片渲染 -->
        <ul class='week-weather-img'>
            <li><i class="iconfont">&#xe61a;</i></li>
            <li><i class="iconfont">&#xe62d;</i></li>
            <li><i class="iconfont">&#xe610;</i></li>
            <li><i class="iconfont">&#xe630;</i></li>
            <li><i class="iconfont">&#xe641;</i></li>
            <li><i class="iconfont">&#xe642;</i></li>
        </ul>
        <!-- 现在的天气的模版 待渲染 -->
        <ul class="week-weather-now">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <!-- 暂存canvas中的数据 -->
        <ul class='temp-data'> 
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
            <li><span></span><b></b></li>
        </ul>
        <!-- canvas绘图 -->
        <canvas class='canvas'></canvas>   
        <!-- 风的模版 待渲染-->
        <ul class='week-wind'>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
<!-- webpack打包的所有less js 等 -->
<script src='/dist/bundle.js'></script> 
</html>
